force-app/main/default/flows/creation_multiple_Programs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Record_to_collection</name>
        <label>Add Record to collection</label>
        <locationX>864</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>varCollectionProgramRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProgramRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record</name>
        <label>Assign Values to Record</label>
        <locationX>864</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varProgramRecord.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Budget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramRecord.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramRecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Program_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_collection</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>varPickListStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>creation multiple Programs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>creation multiple Programs</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <collectionReference>Repeater_Creation_Profram_Records.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Program_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Program_Records</name>
        <label>Create Program Records</label>
        <locationX>776</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Succeed_Adding</targetReference>
        </connector>
        <inputReference>varCollectionProgramRecords</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Programs</name>
        <label>Create Programs</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>Repeater_Creation_Profram_Records</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Program_Name</name>
                <dataType>String</dataType>
                <fieldText>Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Start_Date</name>
                <dataType>Date</dataType>
                <fieldText>Start Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>EndDate</name>
                <dataType>Date</dataType>
                <fieldText>End Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <validationRule>
                    <errorMessage>&lt;p&gt;End Date cannot be in the past or before Start Date&lt;/p&gt;</errorMessage>
                    <formulaExpression>AND({!Repeater_Creation_Profram_Records.AllItems[$EachItem].EndDate} &gt; TODAY(),{!Repeater_Creation_Profram_Records.AllItems[$EachItem].EndDate} &gt; {!Repeater_Creation_Profram_Records.AllItems[$EachItem].Start_Date} )</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>Status</name>
                <choiceReferences>varPickListStatus</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <stringValue>Planned</stringValue>
                </defaultValue>
                <fieldText>Status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Budget</name>
                <dataType>Currency</dataType>
                <fieldText>Budget</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>Notes</name>
                <dataType>String</dataType>
                <fieldText>Notes</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail_Adding</name>
        <label>Fail Adding</label>
        <locationX>1039</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Program records had not added&lt;/span&gt;. Error with {!varCollectionProgramRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Succeed_Adding</name>
        <label>Succeed Adding</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Succeed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 255, 68);&quot;&gt;Program records were successfully&lt;/span&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 255, 68);&quot;&gt;added  &lt;/span&gt;{!varCollectionProgramRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Programs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollectionProgramRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
    <variables>
        <name>varProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
</Flow>
