force-app/main/default/flows/Outreaches_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_lead_count_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Another</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead_count_and_succeed_fields</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>reduceCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Lead__r.Outreaches_count__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>reduceSucceed</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Lead__r.Successful_Outreaches__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Outreaches count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outreaches count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_lead_count_and_succeed_fields</name>
        <label>Update lead count and succeed fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>reduceCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful_Outreaches__c</field>
            <value>
                <elementReference>reduceSucceed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_count_field</name>
        <label>Update lead count field</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>reduceCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <object>Outreach__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
