force-app/main/default/flows/Update_related_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Outcome_field_is_Accepted</name>
        <label>Outcome field is Accepted?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Reduce_count_Outreach_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reduce_count_Outreach_and_succeed_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update related Lead when lead on the outreach page chenged</description>
    <environments>Default</environments>
    <formulas>
        <name>oldRelatedLead</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Lead__c}</expression>
    </formulas>
    <formulas>
        <name>PriorLeadId</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Lead__r.Id}</expression>
    </formulas>
    <formulas>
        <name>ReduceOutreachesCountPrior</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Lead__r.Outreaches_count__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>reduceSucceedCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Lead__r.Successful_Outreaches__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update related Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update related Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reduce_count_Outreach_and_succeed_fields</name>
        <label>Reduce count Outreach and succeed fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriorLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>ReduceOutreachesCountPrior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful_Outreaches__c</field>
            <value>
                <elementReference>reduceSucceedCount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reduce_count_Outreach_field</name>
        <label>Reduce count Outreach field</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriorLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>ReduceOutreachesCountPrior</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outcome_field_is_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Outreach__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
