force-app/main/default/flows/Update_Lead_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>outcome_Accepted</name>
        <label>outcome Accepted?</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_succeed_field_if_Outcome_c_Acc</targetReference>
            </connector>
            <label>successful</label>
        </rules>
        <rules>
            <name>From_successful_to_common</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reduce_count</targetReference>
            </connector>
            <label>From successful to common</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome_field_is_Accepted</name>
        <label>Outcome field is Accepted?</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Reduce_count_Outreach_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reduce_count_Outreach_and_succeed_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outreach_outcome_Accepted</name>
        <label>Outreach outcome Accepted?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_count_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_succeed_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record</name>
        <label>Record</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_outcome_Accepted</targetReference>
            </connector>
            <label>Is created</label>
        </rules>
        <rules>
            <name>Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChenged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>outcome_Accepted</targetReference>
            </connector>
            <label>Is Updated outreach</label>
        </rules>
        <rules>
            <name>Is_Updated_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isChenged</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_field_is_Accepted</targetReference>
            </connector>
            <label>Is Updated Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaPriorValue</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record__Prior.Outcome__c}, &quot;Accepted&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChenged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Outcome__c})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>nowField</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Outcome__c})</expression>
    </formulas>
    <formulas>
        <name>priorField</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Outcome__c})</expression>
    </formulas>
    <formulas>
        <name>reduceCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Lead__r.Outreaches_count__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>reduceSuccessfull</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Lead__r.Successful_Outreaches__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>succeedformula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Lead__r.Successful_Outreaches__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>todayformula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Updatecount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Lead__r.Outreaches_count__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Lead Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Increase_count_Outreach_and_succeed_fields</name>
        <label>Increase count Outreach and succeed fields</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>Updatecount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful_Outreaches__c</field>
            <value>
                <elementReference>succeedformula</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increase_count_Outreach_field</name>
        <label>Increase count Outreach field</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>Updatecount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>reduce_count</name>
        <label>reduce count</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>reduceCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reduce_count_Outreach_and_succeed_fields</name>
        <label>Reduce count Outreach and succeed fields</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Increase_count_Outreach_and_succeed_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>reduceCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful_Outreaches__c</field>
            <value>
                <elementReference>reduceSuccessfull</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reduce_count_Outreach_field</name>
        <label>Reduce count Outreach field</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Increase_count_Outreach_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>reduceCount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_count_field</name>
        <label>Update count field</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>Updatecount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_succeed_field</name>
        <label>Update succeed field</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Outreaches_count__c</field>
            <value>
                <elementReference>Updatecount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful_Outreaches__c</field>
            <value>
                <elementReference>succeedformula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_succeed_field_if_Outcome_c_Acc</name>
        <label>Update succeed field if Outcome__c = Acc</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Successful_Outreaches__c</field>
            <value>
                <elementReference>succeedformula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record</targetReference>
        </connector>
        <object>Outreach__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
